# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Oo]bj/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
.vs/
.DS_Store
.idea/

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Node
node_modules/
package-lock.json
.yarn/
.pnp.*
